[Unit]
Description=UART server for communication with the PV PI
After=multi-user.target

[Service]
Type=simple
User=pi
User=TARGET_USER
WorkingDirectory=TARGET_DIR
ExecStart=/bin/bash TARGET_DIR/uart_server.sh

Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target


