[Unit]
Description=UART server for communication with the PV PI
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=pi
Group=pi
WorkingDirectory=/home/pi/pvpi_manager
ExecStartPre=/home/pi/.local/bin/uv sync --frozen --no-dev
ExecStart=/home/pi/.local/bin/uv run pvpi uart-proxy
Restart=always
RestartSec=10

[Install]
WantedBy=default.target


